* {
    /* Свойства для сброса начальных стилей элементов */
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    width: 100%;
    height: 70px;
    background: #2965f1;
    padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    width: 1440px;
    min-height: 1024px;
    background: #fafaff;
    padding: 60px 0;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
    width: 150px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    padding: 8px 0;
    background: url(./assets/Vector.png) no-repeat right 10px  bottom 10px;
    appearance: none;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */

    padding: 0 0 0 20px;
    list-style-image: url(./assets/vectorsmall.png);
    font-weight: 400;
    font-size: 16px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    font-weight: 400;
    font-size: 16px;
    padding: 0 0 0 20px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    width: 330px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    padding: 8px 0;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
}

.btn {
    /* Стили для кнопки */
    width: 125px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #2965f1;
    border-radius: 5px;
}

.line {
    /* Стили для линии */
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    margin: 60px 0;
}

table {
    /* Стили для таблицы */
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #95a1bb;
    border-collapse: collapse;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 11px 0 12px 0 ;
    border: 1px solid #95a1bb;
    width: 100px;
}

footer {
    /* Стили для футера */
    width: 100%;
    height: 70px;
    background: rgba(163, 167, 255, 0.3);
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    padding: 26px 0;
}

.footer-link {
    /* Стили для футера */
    text-decoration: none;
}